/* ------------------ Elements ------------------ */
/* Images */
.img-fluid {
    @include img-border-style;
}

.rounded:hover {
    @include img-border-style;
    transition: all 0.2s ease-in-out;
}

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../img/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 700px;
    padding-top: 50px;
}

/* Buttons */
.btn-primary {
    @include btns-style;
        &:hover {
            opacity: 0.8;
        }
}

.cta {
    @include btns-style;
    border-radius: 30px;
    border: 2px solid $color2;
    &:active, &:hover {
        background-color: $color2 !important;
        color: $color3;
        border-color: $color3;
    }
}