@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

/* ------------------ Global Settings ------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $color1;
}

/* ------------------ Sections ------------------ */
section {
    @include flex-section-container;
}

.black-bg {
    background-color: $color1;
    color:$color2;
}

.white-bg {
    background-color: $color2;
    color: $color1;
}