/* ------------------ Header ------------------ */

.navbar {
    background-color: #0c0e0c;
    z-index: 9999;
    .navbar-brand {
        margin-left: 1rem;
        color: $color3;
        &:active, &:hover {    
            color: $color2 !important;
            font-weight: 700 !important;
        }
    }
    .navbar-toggler {
        border-color: $color3;
        .navbar-toggler-icon {
            width: 24px;
            height: 3px;
            background-color: $color2;   
            border-radius: 2px;
            transition: all 0.2s ease-in-out;
        }
    }
    .nav-item {
        padding-right: 1rem;
        .nav-link {
            &:focus, &:visited, &:link {
            color: $color3;
            transition: all 0.3s ease 0s;
            }
        }
        .nav-link {
            &:active, &:hover {
            color: $color2 !important;
            font-weight: 700 !important;
            }
        }
    }
}