/* ------------------ Variables ------------------ */
$color1: #0c0e0c;
$color2: #fff;
$color3: #d8323c;
$color4: #ad3d5680;

/* ------------------ Mixins ------------------ */
@mixin flex-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

@mixin img-border-style {
    border: 5px solid $color3;
    border-top: 0;
    border-right: 0;
    border-radius: 2%;
}

@mixin bg-overlay-properties {    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $color2;
    height: 800px;
    padding-top: 50px;
}

@mixin btn-style {
    text-decoration: none;
    letter-spacing: -.05em;
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px $color4,0 6px 6px $color4,0 0 100px -10px $color3;
}