@charset "UTF-8";
/* ------------------ Variables ------------------ */
/* ------------------ Mixins ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
/* ------------------ Global Settings ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0e0c;
}

/* ------------------ Sections ------------------ */
section, article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.black-bg {
  background-color: #0c0e0c;
  color: #fff;
}

.white-bg {
  background-color: #fff;
  color: #0c0e0c;
}

/* ------------------ Header ------------------ */
.navbar {
  background-color: #0c0e0c;
  z-index: 9999;
}
.navbar .navbar-brand {
  margin-left: 1rem;
  color: #d8323c;
}
.navbar .navbar-brand:active, .navbar .navbar-brand:hover {
  color: #fff !important;
  font-weight: 700 !important;
}
.navbar .navbar-toggler {
  border-color: #d8323c;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  width: 24px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.navbar .nav-item {
  padding-right: 1rem;
}
.navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link:visited, .navbar .nav-item .nav-link:link {
  color: #d8323c;
  transition: all 0.3s ease 0s;
}
.navbar .nav-item .nav-link:active, .navbar .nav-item .nav-link:hover {
  color: #fff !important;
  font-weight: 700 !important;
}

/* ------------------ Elements ------------------ */
/* Images */
.img-fluid, .card-img-top {
  border: 5px solid #d8323c;
  border-top: 0;
  border-right: 0;
  border-radius: 2%;
}

.rounded:hover {
  border: 5px solid #d8323c;
  border-top: 0;
  border-right: 0;
  border-radius: 2%;
  transition: all 0.2s ease-in-out;
}

.contact-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 700px;
  padding-top: 50px;
}

.aboutme-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/aboutme-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 700px;
  padding-top: 50px;
}

/* Buttons */
.btn-primary {
  background-color: #d8323c !important;
  border: 0;
  color: #fff;
}
.btn-primary:hover {
  opacity: 0.8;
}

.cta {
  color: #fff;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: #0c0e0c;
}
.cta:active, .cta:hover {
  background-color: #fff;
  color: #d8323c;
  border: 2px solid #d8323c;
}

.cta-active {
  color: #d8323c;
  border-radius: 30px;
  border: 2px solid #d8323c;
  background-color: #fff;
}
.cta-active:active, .cta-active:hover {
  background-color: #0c0e0c;
  color: #fff;
  border: 2px solid #fff;
}

/* Esta animación consiste en hacer un shake si lo que el usuario introduce es invalido (tambien se activa si el usuario borra todo). Los bordes son color rojo si no ha llenado todo, y color blanco cuando llena todo correctamente. 

El uso de !importa fue necesario para sobreescribir el css de Bootstrap*/
input, textarea {
  background: transparent !important;
}
input:focus, textarea:focus {
  border-color: #fff !important;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6) !important;
  color: #fff !important;
}
input:valid, textarea:valid {
  background: transparent;
  color: #fff;
  animation: none;
}
input:invalid, textarea:invalid {
  background: transparent;
  color: #d8323c;
  border: 2px solid #d8323c;
  animation: shake 0.14s 3;
}

@keyframes shake {
  0% {
    translate: 0%;
  }
  25% {
    translate: 8px 0;
  }
  75% {
    translate: -8px 0;
  }
  100% {
    translate: 0%;
  }
}/*# sourceMappingURL=style.css.map */