@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

/*
Paleta de colores
--------
#0c0e0c     -- Negro
#d8323c     -- Rojo
white     -- Blanco
*/

/* ------------------ Global Settings ------------------ */
*{
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* ------------------ Header ------------------ */
/* nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    align-items: center;
    background-color: #0c0e0c;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.logo {
    padding-left: 50px;
    margin-right: auto;
    color: #d8323c;
    font-weight: 700;
    font-size: 1.5em;
}

nav ul {
    padding-right: 20px;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0 30px;
    font-weight: 700;
}

nav > a:focus, a:visited, a:link {
    color: #d8323c;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

nav > a:active, a:hover, a.current-page {
    color: white;
    text-decoration: none;
    font-weight: 700;
} */

/* ------------------ Body ------------------ */
body {
    box-sizing: border-box;
    position: relative;
    background-color: #0c0e0c;
    padding-bottom: 3rem;
    min-height: 90vh;
}

/* ------------------ Sections ------------------ */
section, article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

.black-bg {
    background-color: #0c0e0c;
    color:white;
}

.white-bg {
    background-color: white;
    color: #0c0e0c;
}

/* ------------------ Content ------------------ */
h1 {
    font-weight: 700;
    font-size: 50px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

.section-img {
    width: 30%;
    border: 5px solid #d8323c;
    border-top: 0;
    border-right: 0;
    border-radius: 2%;
}

.section-div {
    display: inline-block;
    text-align: center;
    width: 60%;
    margin: 0 40px;
}

/* ------------------ Footer ------------------ */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0c0e0c;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: 0.25rem 0;
}

footer p {
    margin-right: auto;
    padding-left: 50px;
    color: white;
}

.footer-div {
    padding-right: 50px;
}
